@import url('https://fonts.googleapis.com/css2?family=Raleway');

body {
    height: 100%;
}

* {
    font-family: 'Raleway', sans-serif !important;
  }

ion-title {
    text-align: center;
}

ion-toolbar {
    --background: #CBA135;
    color: #ffffff;
}

ion-card-header {
    text-align: center;
}

ion-content {
    --background: linear-gradient(#9e9b92, #9e9b92);
    height: 100%;
}

.contentLogin {
    position: relative;
    top: 50%;   
    transform: translateY(-60%);
}

ion-card-header {
    margin-bottom: 10%;
}

ion-item {
    --background: #f0ede2;
    border-radius: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

ion-label {
    color: red;
}


.loginButton {
    margin-left: 7%;
    margin-right: 7%;
    height: 70px;
    margin-top: 15%;
    text-align: center;
    --background: #494843;
    --border-radius: 100px;
    --color: black;
}

.logo {
    margin-bottom: 20%;
}