<ion-header>
  <ion-toolbar>
    <ion-segment value="all" style="width: 100%;">
      <ion-segment-button value="all" (click)="updateValue('acomp')">
        Acompanhamento
      </ion-segment-button>
      <ion-segment-button value="favorites" (click)="updateValue('list')">
        Lista
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  *ngIf="value === 'acomp'" class="acompContent">
  <!-- <ion-button (click)="getCamera()">Camera</ion-button> -->
  <ion-grid class="mainGrid" style="height:80%;">
    <ion-row id="hdr">
      <ion-col class="ion-no-padding" style="padding-right: 8px; padding-top: 10px; padding-bottom: 10px">
        <ion-card class="ion-no-margin ion-text-center" style="height:100%; margin-left: 16px;">
          <h1>{{quantidadeTotal}}</h1>
          <h4 style="font-size: 14px;">Quantidade</h4>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding" style="padding-left: 8px; padding-top: 10px; padding-bottom: 10px">
        <ion-card class="ion-no-margin ion-text-center" style="height:100%; margin-right: 16px;">
          <h1>R$ {{total}}</h1>
          <h4 style="font-size: 14px;">Total</h4>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-card class="cardForm">
      <form (ngSubmit)="logForm()">
        <ion-item>
          <ion-select id="inpCate" placeholder="Categoria" [(ngModel)]="todo.categoria" name="first">
            <ion-select-option value="Higiene">Higiene</ion-select-option>
            <ion-select-option value="Alimentos">Alimentos</ion-select-option>
            <ion-select-option value="Bebidas">Bebidas</ion-select-option>
            <ion-select-option value="Limpeza">Limpeza</ion-select-option>
            <ion-select-option value="Hortifrúti">Hortifrúti</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Nome</ion-label>
          <ion-input id="inpName" type="string" [(ngModel)]="todo.name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Quantidade</ion-label>
          <ion-input id="inpQuan" type="number" [(ngModel)]="todo.quantidade" name="quantidade"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Preço</ion-label>
          <ion-input id="inpPrec" type="number" [(ngModel)]="todo.preco" name="preco"></ion-input>
        </ion-item>
        <div style="text-align: center;"> 
          <button ion-button type="submit" block class="addButton" style="background-color: #494843">Adicionar</button>
        </div>
      </form>
    </ion-card>
    <ion-grid class="historyGrid"  style="height:60%">
      <ion-col class="historyCol">
        <ion-card class="historyCard" style="height:100%">
          <ion-card-header class="historyHeader" style="background-color: #494843">
            <ion-card-title style="font-size: 1.2em;" style="color: white">Histórico</ion-card-title>
          </ion-card-header>
          <ion-select placeholder="Filtro de Categoria" name="filtroCategoria" [multiple]="true" (ionChange)="filterCategory($event)">
            <ion-select-option value="Higiene">Higiene</ion-select-option>
            <ion-select-option value="Alimentos">Alimentos</ion-select-option>
            <ion-select-option value="Bebidas">Bebidas</ion-select-option>
            <ion-select-option value="Limpeza">Limpeza</ion-select-option>
            <ion-select-option value="Hortifrúti">Hortifrúti</ion-select-option>
          </ion-select>
          <ion-list style="background-color: #f1f1f1;" class="historyContentList" id="list">      
            <ion-card *ngFor="let card of results.slice().reverse();" class="cardHistory">
              <ion-card-header style="text-align: left; padding-left: 20px;">
                {{card.categoria}}  -  {{card.name}}
                <button ion-button (click)="removeCard(card)" block><ion-icon name="trash-outline" style="font-size: 20px;"></ion-icon></button>
              </ion-card-header>
              <!-- <ion-row> -->
                <div class="horizontal-line hr1">
                  <p class="contentText">{{card.quantidade}}</p> <br>
                  <p class="subText">Quantidade </p>
                </div>
                <div class="horizontal-line hr2">
                  *
                </div>
                <div class="horizontal-line hr3">
                  <p class="contentText">R$ {{card.preco}}</p> <br>
                  <p class="subText">Preço</p> 
                </div>
                <div class="horizontal-line hr4">
                  =
                </div>
                <div class="horizontal-line hr5">
                  <p class="contentText">R$ {{card.total}}</p> <br>
                  <p class="subText">Total</p>
                </div>
              <!-- </ion-row> -->
            </ion-card>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-grid>
  </ion-grid>
</ion-content>


<ion-content [fullscreen]="true"  *ngIf="value === 'list'" class="checkContent">
  <div *ngIf="toDoList.length > 0">
    <ion-list style="background: transparent;">
      <ion-item *ngFor="let toDoItem of toDoList; let i = index" style="--background: transparent; ">
        <ion-checkbox slot="start" [(ngModel)]="toDoItem.checked"></ion-checkbox>
        <ion-label style="background-color: #F3EFE0;">{{ toDoItem.name }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="toDoList.length === 0">
    <p style="color: #c2bfb3; margin-top: 42vh; text-align: center; font-size: 24px">Sem Items</p>
  </div>
  <ion-fab horizontal="center" class="checkFab">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal id="add-item-modal" trigger="open-modal" >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start" style="color:white">
            <ion-button (click)="cancel()" style="color: #494843" color="light">Cancelar</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="confirm()" color="light">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid style="height: 100%;">
          <ion-item>
            <ion-label position="stacked">Coloque o nome do item</ion-label>
            <ion-input type="text" placeholder="Nome do item" [(ngModel)]="toDoItemName"></ion-input>
          </ion-item>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

